/.metadata/
SpringJPABoard/.metadata/.lock
SpringJPABoard/.metadata/.lock_info
SpringJPABoard/.metadata/.log
SpringJPABoard/.metadata/version.ini
SpringJPABoard/.metadata/.mylyn/repositories.xml.zip
SpringJPABoard/.metadata/.mylyn/tasks.xml.zip
SpringJPABoard/.metadata/.plugins/org.eclipse.buildship.core/gradle/versions.json
SpringJPABoard/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
SpringJPABoard/.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
SpringJPABoard/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
SpringJPABoard/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
SpringJPABoard/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
SpringJPABoard/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
SpringJPABoard/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
SpringJPABoard/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
SpringJPABoard/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
SpringJPABoard/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
SpringJPABoard/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
SpringJPABoard/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
SpringJPABoard/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
SpringJPABoard/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
SpringJPABoard/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
SpringJPABoard/.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
SpringJPABoard/.metadata/.plugins/org.eclipse.m2e.logback/0.log
SpringJPABoard/.metadata/.plugins/org.eclipse.m2e.logback/logback.2.7.0.20241001-1350.xml
SpringJPABoard/.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
SpringJPABoard/.metadata/.plugins/org.eclipse.tips.ide/dialog_settings.xml
SpringJPABoard/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
